$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;

    p + h4 {
        margin-top: 28px;
    }
}
div.loading{
   background-image: url('../images/loading.gif');
   background-repeat: no-repeat;
   background-position: center;
   height: 200px;
}
div.pokedex{
   background-image: url('../images/pokedex.gif');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 700px 480px;
   height:  500px ;
   .dex-container{
     height: 500px;
     width: 700px;
     margin:auto;
     .dex-container-left{
        height: 500px;
        width: 350px;
        float:left;
        .dex-image{
            width: 240px;
            height: 160px;
            background-repeat: no-repeat;
            background-position: center;
            margin: auto;
            margin-top: 150px;
            vertical-align: bottom;
            text-align: center
        }
     }
     .dex-container-right{
        height: 500px;
        width: 350px;
        position:relative;
        left:350px;
        .attack{
            position:absolute;
            bottom:45px;
            left:95px;
        }
        .defense{
            position:absolute;
            bottom:45px;
            left:215px;
        }
        .height{
            position:absolute;
            bottom:280px;
            left:150px;
            font-weight: bold;
        }
        .weight{
            position:absolute;
            bottom:280px;
            left:245px;
            font-weight: bold;
        }
     }
   }
}
.container {
    min-width: 730px;
}
.comment{
    margin-bottom: 15px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}