<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<label for="keyword">Search here for a pokemon</label>
			<ui-select ng-model="filter.pokemon" on-select="getPokemonData($select.selected.resource_uri)">
				<ui-select-match placeholder="Select a pokemon">{{$select.selected.name | uppercase}}</ui-select-match>
				<ui-select-choices repeat="pokemon in pokemons| orderBy:'+name' | propsFilter:{ name : $select.search }">
					<div ng-bind-html="pokemon.name | uppercase | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
	<div class="row pokedex">
		<div class="dex-container">
			<div class="dex-container-left">
				<div class="dex-image" style="background-image:url('{{loading?'images/loading.gif':pokemon.image?'http://pokeapi.co'+pokemon.image : 'images/unavailable.jpg'}}');" ng-if="pokemon.pkdx_id>0 || loading">
					<div class="name"><h3>{{ pokemon.name | uppercase }}</h3></div>
				</div>
			</div>
			<div class="dex-container-right">
				<div class="attack"><h3>A: {{pokemon.attack}}</h3></div>
				<div class="defense"><h3>D: {{pokemon.defense}}</h3></div>
				<div class="height">{{pokemon.height}}</div>
				<div class="weight">{{pokemon.weight}}</div>
			</div>
		</div>
	</div>
	<div class="row comment" ng-show="pokemon.pkdx_id>0">
		<form id="form=" name="form"  ng-submit="submitComment(form.$valid)" novalidate>
		<fieldset>
			<legend>Leave your comments</legend>
			<div class="col-xs-4">
				<label for="nome">Name:*</label>
				<input type="text" class="form-control" ng-model='forms.name' name="name" required>
			</div>
			<div class="col-xs-5">
				<label for="email">E-mail:*</label>
				<input type="email" class="form-control" ng-model='forms.email' name="email" required>
			</div>
			<div class="col-xs-3">
				<label for="send">&nbsp;</label>
				<input type="submit" class="form-control btn btn-primary"  name="send" value="Send">
			</div>
			<div class="col-xs-12">
				<label for="comment">Comment:*</label>
				<textarea class="form-control" ng-model='forms.comment' name="comment" required></textarea>
			</div>
		</fieldset>
		</form>
	</div>
	<div class="row"  ng-show="pokemon.pkdx_id>0">
		<fieldset>
			<legend>Comments:</legend>
			<div class="col-xs-12 comment" ng-repeat="comment in dataSet.comments | filter: {pokemon:pokemon.pkdx_id}:true ">
				<fieldset>
					<legend>{{comment.name}} ({{comment.email}})</legend>
					{{comment.comment}}
				</fieldset>
			</div>
		</fieldset>
	</div>
</div>